body {
  background-color: white;
}

.navBar {
  padding: 0 5%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  margin-bottom: 4rem;
}

.navBar h1 {
  font-size: 27px;
  font-weight: 600;
  font-family: cursive;
}

.navbar-links-cont button {
  display: none;
}

.menuNav {
  display: flex;
}

.menuNav li {
  list-style: none;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
}

.menuNav li:not(:last-child) {
  border-right: 1px #0166ff solid;
}

.menuNav li a {
  text-decoration: none;
  color: #0166ff;
  cursor: pointer;
  font-family: cursive;
}

.menuNav li a:hover {
  color: goldenrod;
}

/* Quote styling */
.quote-container {
  display: flex;
  margin-top: 200px;
  transform: translate(-50%, -50%);
  width: 50%;
  font-family: cursive;
  gap: 10px;
  margin-left: 50%;
}

.author {
  font-weight: 600;
  color: red;
}

.quote-button {
  position: relative;
  width: fit-content;
  height: max-content;
  background-color: gold;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: cursive;
}

.homePage {
  padding: 0 5% 4rem 5%;
}

.homePage h2 {
  margin-bottom: 2rem;
  font-size: 18px;
}

.homePage p {
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
}

.headingcalc {
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  left: -150%;
  position: relative;
}

/* button {
  border: none;
  cursor: pointer;
} */

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.calc {
  min-width: 500px;
}

.display {
  background-color: #858693;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2%;
  height: 4rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #653b1a;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.btn-normal {
  display: flex;
  min-width: calc(25%);
  height: 4rem;
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.orange {
  background-color: #f5913e;
  border-bottom: 1px solid #d1d1d1;
  border-right: none;
  color: #653b1a;
  font-weight: 800;
  font-size: 1.5rem;
}

.first {
  padding-top: 1px;
  border-top: none;
}

.gray {
  border-bottom: 1px solid #d1d1d1;
  color: #653b1a;
  font-weight: 800;
  font-size: 1.5rem;
}

.double {
  min-width: calc(50% - 1px);
  text-align: center;
  border-bottom: none;
}

.last {
  border-bottom: none;
}
